@mixin center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin start-center {
  display: flex;
  align-items: center;
}

@mixin center-start {
  display: flex;
  justify-content: center;
}

@mixin space-between-start {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@mixin space-between-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin space-between-end {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@mixin space-around-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin end-center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
